{% extends "sadmintemplates/header.html" %}
{% block content %}

<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">All Neteller SignUps
                        <a class="btn btn-neutral btn-sm float-right" href="{% url 'skrill_signup' %}" >
                            Skrill Signups
                        </a>
                       <a class="mr-2 btn btn-primary btn-sm float-right" href="{% url 'neteller_signup' %}" >
                            Neteller Signup
                        </a>
                    </h3>

                </div>


                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">SL NO</th>
                            <th scope="col" class="sort" data-sort="name">Neteller ID</th>
                            <th scope="col" class="sort" data-sort="budget">Site ID</th>
                            <th scope="col" class="sort" data-sort="status">Partner Code</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for netlrSignup in netellerSignups %}
                        <tr>
                            <th scope="row">
                                <span class="name mb-0 text-sm">{{ netlrSignup.id }}</span>
                            </th>
                            <th scope="row">
                                <span class="name mb-0 text-sm">{{netlrSignup.Neteller_ID}}</span>
                            </th>
                            <td class="budget">
                                {{netlrSignup.Site_ID}}
                            </td>
                            <td>
                                <span class="status">{{netlrSignup.Partner_code}}</span>
                            </td>
                            <td>
                                <span class="status">{{netlrSignup.Date}}</span>
                            </td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->

                <div class="card-footer py-4">
                    <nav aria-label="...">
                          <div class="col-lg-offset-9">
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if netellerSignups.has_previous %}
                                            <a href="?page=1">&laquo; first || </a>
                                            <a href="?page={{ netellerSignups.previous_page_number }}">previous</a>
                                        {% endif %}
                                        <span class="current">
                                            Page {{ netellerSignups.number }} of {{ netellerSignups.paginator.num_pages }}.
                                        </span>
                                        {% if netellerSignups.has_next %}
                                            <a href="?page={{ netellerSignups.next_page_number }}">next ||</a>
                                            <a href="?page={{ netellerSignups.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                 </div>
                           </div>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}