{% extends "sadmintemplates/header.html" %}
{% block content %}

<br/>
<!-- Page content -->
<div class="container-fluid">
    <div class="row">

        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 class="mb-0">Skrill Deposit</h2>
                            <div class="col-lg-offset-6">
                                <div class="card-header border-0 ">
                                    <a class="btn btn-neutral btn-sm float-right" href="{% url 'skrillsignupsearch' %}">
                                        Skrill Signups
                                    </a>
                                    <a class="mr-2 btn btn-neutral btn-sm float-right"
                                       href="{% url 'netellersignupsearch' %}">
                                        Neteller Signup
                                    </a>
                                    <a class="mr-2 btn btn-primary btn-sm float-right"
                                       href="{% url 'skrilldepositsearch' %}">
                                        Skrill Deposit
                                    </a>
                                    <a class="mr-2 btn btn-neutral btn-sm float-right"
                                       href="{% url 'netellerdepositsearch' %}">
                                        Neteller Deposit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">


                    <form class="form-inline float-right">
                        <div class="form-group">
                            <input type="text" class="form-control  mb-2" placeholder="Search ..." name="q"
                                   value="{{ request.GET.q }}" style="background-color:#fff;height:40px; width: 90%">
                        </div>
                    </form>


                    <!-- Address -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Sl NO</th>
                                <th scope="col" class="sort" data-sort="name">Neteller ID</th>
                                <th scope="col" class="sort" data-sort="budget">Site ID</th>
                                <th scope="col" class="sort" data-sort="status">Partner Code</th>
                                <th scope="col" class="sort" data-sort="status">Profit</th>
                                <th scope="col">Date</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            {% for p in post %}
                            <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <span class="name mb-0 text-sm">{{ p.id}}</span>
                                </th>
                                <th scope="row">
                                    <span class="name mb-0 text-sm">{{p.Neteller_ID}}</span>
                                </th>

                                <td class="budget">{{ p.Site_ID }}</td>
                                <td><span class="status">{{ p.Deposite }}</span></td>
                                <td><span class="status">{{ p.Profit }}</span></td>
                                <td><span class="status">{{ p.Date }}</span></td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">View Agent</a>
                                            <a class="dropdown-item" href="#">Edit Agent</a>
                                            <a class="dropdown-item" href="#">Block Agent</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            </tbody>
                            {% endfor %}

                        </table>

                        <div class="card-footer py-4">
                            <nav aria-label="...">
                                <div class="col-lg-offset-9">
                                    <div class="pagination">
                                    <span class="step-links">
                                        {% if post.has_previous %}
                                            <a href="?page=1">&laquo; first || </a>
                                            <a href="?page={{ post.previous_page_number }}">previous</a>
                                        {% endif %}
                                        <span class="current">
                                            Page {{ post.number }} of {{ post.paginator.num_pages }}.
                                        </span>
                                        {% if post.has_next %}
                                            <a href="?page={{ post.next_page_number }}">next ||</a>
                                            <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                    </div>
                                </div>
                            </nav>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}